@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #411530;
    color: #fff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.gold {
    color: #d36b00;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--gold:after {
    background-color: #d36b00;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}


/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    font-size: 20px;
    height: 80px;
}

.nav__link--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    margin-left: 50px;
}


/* LANDING PAGE */


